  <div id="myModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span (click)="closeDialog()" class="close">&times;</span>
          <h2>Añadir Convenio</h2>
        </div>
        <div class="modal-body">
          <ng-container>
            <br>
            <form class="ingreso" [formGroup]="formulario"  #formContact="ngForm">
              
             <div class="orden">

              <mat-form-field  style="width: 100%;" class="full-width">
                <mat-label>Institucion</mat-label>
                <mat-select (openedChange)="onOptionSelected()" formControlName = nombre_institucion required>
                    <mat-option  *ngFor="let nombInstitucion of NombreInstitucion" [value]="nombInstitucion">{{nombInstitucion}}</mat-option>
                </mat-select>
              </mat-form-field>

              </div>

              <div class="orden">



                <mat-form-field  style="width: 100%;" class="full-width">
                  <mat-label>Coordinador externo</mat-label>
                  <mat-select  formControlName = nombre_coordinador required>
                      <mat-option  *ngFor="let coordinador of coordinadoresNombres" [value]="coordinador">{{coordinador}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field  style="width: 100%;" class="full-width">
                  <mat-label>Coordinador Interno</mat-label>
                  <mat-select  formControlName = nombre_coordinador_Interno required>
                      <mat-option  *ngFor="let coordinadorInter of NombreCoordinadorInterno" [value]="coordinadorInter">{{coordinadorInter}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>


 
              <div class="orden">


                
                <mat-form-field  class="full-width">
                  <mat-label>Unidad gestora</mat-label>
                  <mat-select formControlName = nombre_unidadGestora required>
                      <mat-option  *ngFor="let unidadGestora of optionsUnidadGestora" [value]="unidadGestora">{{unidadGestora}}</mat-option>
                  </mat-select>
                </mat-form-field>

                  <mat-form-field class="full-width">
                    <mat-label>Movilidad</mat-label>
                    <mat-select  formControlName = movilidad required>
                      <mat-option value="SI">Si</mat-option>
                      <mat-option value="No">No</mat-option>
                    </mat-select>
                  </mat-form-field>        
                  
 

              </div>

                <div class="orden">
                
                    <mat-form-field class="full-width">
                      <mat-label>Nombre de convenio</mat-label>
                      <input  formControlName = 'nombre_conv' matInput  placeholder="Ej: Convenio de Cooperación con Smithsonian National of Natural History" value="" required>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                      <mat-label>Tipo de convenio</mat-label>
                      <input  formControlName = 'tipo_conv' matInput  placeholder="Ej: Transferencia Recursos" value="" required>
                    </mat-form-field>
                    
               </div>

                <div class="orden">

                  <mat-form-field class="full-width">
                    <mat-label>Año de firma</mat-label>
                    <input  formControlName = 'ano_firma' matInput type="number" placeholder="Ej: 2023" value="" required>
                  </mat-form-field>

                  <mat-form-field class="full-width">
                    <mat-label>Cupos</mat-label>
                    <input  formControlName = 'cupos' matInput type="number" placeholder="Ej: 15" value="" required>
                  </mat-form-field>
                
                </div>
            

            
                <div class="orden">
                  
                  <mat-form-field class="full-width">
                    <mat-label>Vigencia</mat-label>
                    <input  formControlName = 'vigencia' matInput  placeholder="Ej: Indefinida" value="" required>
                  </mat-form-field>
                  
                  <mat-form-field class="full-width">
                    <mat-label>Tipo de firma</mat-label>
                    <mat-select  formControlName = tipo_firma required>
                      <mat-option value="Fisica">Fisica</mat-option>
                      <mat-option value="Digital">Digital</mat-option>
                    </mat-select>
                  </mat-form-field>   

                </div>



                <div class="orden">

                  <mat-form-field  class="full-width">
                    <mat-label>Documento</mat-label>
                    <input  formControlName = 'documentos' matInput  placeholder="Ej: www.documento.com" type="url" value="" required>
                  </mat-form-field>

                  <mat-form-field class="full-width">
                    <mat-label>Condicion de renovacion</mat-label>
                    <mat-select  formControlName = condicion_renovacion required>
                      <mat-option value="Automatico">Automatico</mat-option>
                      <mat-option value="Indefinido">Indefinido</mat-option>
                      <mat-option value="Solicitar seis meses antes">Solicitar seis meses antes</mat-option>                 
                      <mat-option value="Solicitar un mes antes">Solicitar un mes antes</mat-option>
                    </mat-select>
                  </mat-form-field>   


                </div>

                <div class="orden">

                  <mat-form-field class="full-width">
                    <mat-label>Fecha de inicio</mat-label>
                    <input matInput [matDatepicker]="inicioDatepicker" formControlName="fecha_InicioSinFormato" required>
                    <mat-datepicker-toggle matIconSuffix [for]="inicioDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #inicioDatepicker disabled="false"></mat-datepicker>
                  </mat-form-field>
                  
                  <mat-form-field class="full-width">
                    <mat-label>Fecha de termino</mat-label>
                    <input matInput [matDatepicker]="inicioDatepicker2" formControlName="fecha_FinalSinFormato" required >
                    <mat-datepicker-toggle matIconSuffix [for]="inicioDatepicker2"></mat-datepicker-toggle>
                    <mat-datepicker #inicioDatepicker2 disabled="false"></mat-datepicker>
                  </mat-form-field>
                  

                </div>

                <div class="orden">
 
                  <button mat-raised-button color="primary" (click)="addConvenio()" type="submit">Agregar</button>


                </div>
            </form>
            <br>
          </ng-container>
        </div>
      </div>
    </div>
    