<div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span (click)="closeDialog()" class="close">&times;</span>
        <h2>Perfil</h2>
      </div>
      <div class="modal-body">
        <ng-container>
            <br>

            <table class="fullElements">
                <thead>
                  <tr class="listTittle">
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>E-mail</th>
                    <th>Privilegios</th>

                  </tr>
                </thead>
                <tbody >
                  <tr  class="listElements">
                    <td>{{ usuario.nombre}}</td>
                    <td>{{ usuario.apellido}}</td>
                    <td>{{ usuario.email}}</td>
                    <td>{{ usuario.privilegios }}</td>
                  </tr>
                </tbody>
              </table>
              <br>

                  <button mat-raised-button color="primary" (click)="ModificarPerfil()" type="submit">Modificar</button>

              <br>
        
            <br>
        </ng-container>
      </div>
    </div>
  </div>
  

