<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <header>
        <div>
            <img (click)="goMainPage()" id ='logo' title="Inicio" src="../../../assets/LOGO_ORI2.png" width="150" alt="Logo de ORI">
        </div>
        <div class="search">
            <input type="text" [(ngModel)]="busqueda" (input)="enviarMensaje()" name="search" placeholder="Buscar por universidad, tipo de convenio, etc">
        </div>
        <nav>
            <select *ngIf="loginService.getUserRole() === 'si'" (change)="selectOption($event)">
                <option *ngIf="true" disabled selected value="" >Opciones para agregar</option>
                <option value="coordinador">Agregar coordinador de institucion</option>
                <option value="institucion">Agregar institucion</option>
                <option value="convenio">Agregar convenio</option>
                <option value="usuario" *ngIf="loginService.getUserRole() === 'si' && loginService.getUserName() === 'rodrigo@admin.com' ">Agregar usuario</option>
            </select>
            <img class="perfil" src="../../../assets/PERFIL.png" alt="search" title="Perfil">
            <img (click)="logout()" class="logout" title="Cerrar Sesión" src="../../../assets/Logout.png" alt="Logout" width="30"> 
        </nav>
    </header>
</body>
</html>
