<div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span (click)="closeDialog()" class="close">&times;</span>
        <h2>Añadir unidad gestora</h2>
      </div>
      <div class="modal-body">
        <ng-container>
            <br>
            <form class="ingreso" [formGroup]="formulario"  #formContact="ngForm"> <!--  -->
                <div >
                
                    <div class="orden">

                        <mat-form-field class="full-width">
                          <mat-label>Nombre unidad gestora</mat-label>
                          <input formControlName = 'nombreUnidad' matInput placeholder="Ej: Facultad de ingenieria" value="" required> <!--  [(ngModel)]="formulario.pais" -->
                        </mat-form-field>
  
                                
                        <mat-form-field class="full-width">
                          <mat-label>Institucion</mat-label>
                          <mat-select  formControlName = nombreInstitucion required>
                              <mat-option  *ngFor="let nombInstitucion of optionsInstituciones" [value]="nombInstitucion">{{nombInstitucion}}</mat-option>
                          </mat-select>
                      </mat-form-field>
  


                    </div>
                
                    <div class="orden">
                      <button mat-raised-button (click)="addUnidadGestora()" color="primary">Agregar</button>
                    </div>

                  </div>



            </form>            
            <br>
        </ng-container>
      </div>
    </div>
  </div>
  

