<div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span (click)="closeDialog()" class="close">&times;</span>
        <h2>Añadir institución</h2>
      </div>
      <div class="modal-body">
        <ng-container>
            <br>
            <form class="ingreso" (ngSubmit)="addUnidadGestora(formContact)" #formContact="ngForm"> <!--  -->
                <div class="orden">
                
                    <div class="orden">

                        
                        <select name="nombreInst" class="seleccion"  [(ngModel)]="formulario.id_institucion" required [selectedIndex]="selectedIndexIns" >
                            <option *ngIf="true" disabled selected value="">Seleccione una institución</option>
                            <option *ngFor="let convenio of optionsInstituciones" [value]="convenio">{{convenio}}</option>
                        </select><br>  
            
                        <input  name = 'Nombre_Unidad_Gestora' type="text" class="input" [(ngModel)]="formulario.nombre_unidad" placeholder="Nombre unidad gestora" required>



                    </div>
                </div>
                <button type="submit">Añadir unidad gestora</button>
            </form>            
            <br>
        </ng-container>
      </div>
    </div>
  </div>
  

