<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <div class="header-container">
        <div class="izquierda">
            <img class="boton" id="openBar" *ngIf="loginService.getUserRole() === 'si'" mat-button (click)="toggleSidenav()" src="./../../../assets/icons8-menu-64.png" alt="Logo de ORI">
            <img title="Inicio" (click)="Home()" src="./../../../assets/LOGO_ORI2Color.png" width="150" alt="Logo de ORI">
        </div>

    
        <div class="derecha">
            <img class="icono" (click)="logout()"  title="Cerrar Sesión" src="../../../assets/Logout.png" alt="Logout">
        </div>
    </div>
    

    
    <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">

        <nav class="opciones">
            <h3 class="opcion" (click)="ModalAddCoordinador()" value="coordinador">Añadir coordinador de institución</h3>
            <h3 class="opcion" (click)="ModalAddInstituciones()" value="institucion">Añadir institución</h3>
            <h3 class="opcion" (click)="ModalADD()" value="convenio">Añadir convenio</h3>
            <h3 class="opcion" (click)="ModalAddUnidadGestora()" value="convenio">Añadir unidad gestora</h3>
            <h3 class="opcion" (click)="Home()" value="convenio">Volver a inicio</h3>

            <h3 class="opcion" *ngIf="loginService.getUserRole() === 'si' && loginService.getUserName() === 'rodrigo@admin.com'"  (click)="ModalAddUsuario()" value="usuario">Agregar usuario</h3>

        </nav>
<!-- *ngIf="loginService.getUserRole() === 'si' && loginService.getUserName() === 'rodrigo@admin.com' " -->
        
    </mat-sidenav>


    

    <mat-sidenav-content id="mySidenav">



    <div class="Formulario">


          

        <div class="contenedorTitulo">

            <h1 class="titulo">Generador de reporte de convenios</h1>

        </div>

        <div class="container">




            <div class="row">
              <div class="column-left">
                <mat-checkbox style="padding-right:44px;" class="example-margin mat-primary" (change)="imprimir()" [(ngModel)]="institucionBool">{{'Institucion'}}</mat-checkbox>
              </div>
              <div class="column-right">

                <mat-form-field>
                    <mat-label>Instituciones</mat-label>
                    <mat-select [disabled]="!institucionBool" >
                      <mat-option *ngFor="let nombInstitucion of NombreInstitucion" [value]="nombInstitucion">{{nombInstitucion}}</mat-option>
                    </mat-select>
                </mat-form-field>

              </div>
            </div>
          
            <div class="row">
              <div class="column-left">
                <mat-checkbox class="example-margin mat-primary" style="padding-right:13px;"(change)="imprimir()" [disabled]="!institucionBool" [(ngModel)]="unidadGestoraBool">Unidad Gestora</mat-checkbox>
              </div>
              <div class="column-right">

                <mat-form-field>
                    <mat-label>Unidad Gestora</mat-label>
                    <mat-select [disabled]="!unidadGestoraBool" >
                      <mat-option *ngFor="let nombInstitucion of NombreInstitucion" [value]="nombInstitucion">{{nombInstitucion}}</mat-option>
                    </mat-select>
                </mat-form-field>

              </div>
            </div>
          
            <div class="row">
              <div class="column-left">
                <mat-checkbox style="padding-right:61px;"  class="example-margin mat-primary" (change)="imprimir()" [(ngModel)]="alcanceBool">Alcance</mat-checkbox>
              </div>
              <div class="column-right">
            
                <mat-form-field>
                    <mat-label>Alcance</mat-label>
                    <mat-select [disabled]="!alcanceBool" >
                        <mat-option value="Nacional">Nacional</mat-option>
                        <mat-option value="Internacional">Internacional</mat-option>
                    </mat-select>
                </mat-form-field>

              </div>
            </div>

            <div class="row">
                <div class="column-left">
                    <mat-checkbox style="padding-right:85px;"  class="example-margin mat-primary" (change)="imprimir()" [(ngModel)]="paisBool">Pais</mat-checkbox>
              </div>
                <div class="column-right">
                   
                <mat-form-field>
                    <mat-label>Pais</mat-label>
                    <mat-select [disabled]="!paisBool" >
                      <mat-option *ngFor="let nombInstitucion of NombreInstitucion" [value]="nombInstitucion">{{nombInstitucion}}</mat-option>
                    </mat-select>
                </mat-form-field>

                </div>
            </div>

            <div class="row">
                <div class="column-left">
                    <mat-checkbox style="padding-right:50px;"  class="example-margin mat-primary" (change)="imprimir()" [(ngModel)]="movilidadBool">Movilidad</mat-checkbox>
                </div>
                <div class="column-right">
        

                    <mat-form-field>
                        <mat-label>Movilidad</mat-label>
                        <mat-select [disabled]="!movilidadBool" >
                            <mat-option value="Si">Si</mat-option>
                            <mat-option value="No">No</mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>
            </div>

            <div class="row">
                <div class="column-left">
                    <mat-checkbox class="example-margin mat-primary" style="padding-right:3px;"  (change)="imprimir()" [(ngModel)]="tipoDeConvenioBool">Tipo de convenio</mat-checkbox>
                </div>
                <div class="column-right">

                    <mat-form-field>
                        <mat-label>Tipo convenio</mat-label>
                        <mat-select [disabled]="!tipoDeConvenioBool" >
                            <mat-option *ngFor="let nombInstitucion of NombreInstitucion" [value]="nombInstitucion">{{nombInstitucion}}</mat-option>
                        </mat-select>
                    </mat-form-field>

        
                </div>
            </div>

            <div class="row">
                <div class="column-left">
                    <mat-checkbox class="example-margin mat-primary"style="padding-right:24px;" (change)="imprimir()" [(ngModel)]="tipoDeFirmaBool">Tipo de Firma</mat-checkbox>
                </div>
                <div class="column-right">

                    <mat-form-field>
                        <mat-label>Tipo de firma</mat-label>
                        <mat-select [disabled]="!tipoDeFirmaBool" >
                            <mat-option value="Digital">Digital</mat-option>
                            <mat-option value="Fisica">Fisica</mat-option>
                        </mat-select>
                    </mat-form-field>

        
                </div>
            </div>


            <div class="row">
                <div class="column-left">
                    <mat-checkbox class="example-margin mat-primary" style="padding-right:30px;" (change)="imprimir()" [(ngModel)]="anioDeFirmaBool">Año de firma</mat-checkbox>
                </div>
                <div class="column-right">
       

                    <mat-form-field>
                        <mat-label>Tipo convenio</mat-label>
                        <mat-select [disabled]="!anioDeFirmaBool" >
                            <mat-option *ngFor="let nombInstitucion of NombreInstitucion" [value]="nombInstitucion">{{nombInstitucion}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <div class="row">
                <div class="column-left">
                    <mat-checkbox class="example-margin mat-primary"style="padding-right:64px;" (change)="imprimir()" [(ngModel)]="estatusBool">Estatus</mat-checkbox>
                </div>
                <div class="column-right">
            
                    <mat-form-field>
                        <mat-label>Estatus</mat-label>
                        <mat-select [disabled]="!estatusBool" >
                            <mat-option *ngFor="let nombInstitucion of NombreInstitucion" [value]="nombInstitucion">{{nombInstitucion}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>

            <div class="row">
                <div class="column-left">
                    <mat-checkbox class="example-margin mat-primary" (change)="imprimir()" [(ngModel)]="fechaDeTerminoBool">Fecha de termino</mat-checkbox>
                </div>
                <div class="column-right">
    
                    <mat-form-field>
                        <mat-label>Fecha de termino</mat-label>
                        <mat-select [disabled]="!fechaDeTerminoBool" >
                            <mat-option *ngFor="let nombInstitucion of NombreInstitucion" [value]="nombInstitucion">{{nombInstitucion}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>      
                    
        <div style="margin: 1%;">
            <button>Ver reporte</button>
        </div>
              
          </div>
          

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>


</body>
</html>