<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="page.component.css"> 

</head>

<body>


    <div class="header-container">
        <div class="izquierda">
            <img class="boton" id="openBar" *ngIf="loginService.getUserRole() === 'si'" mat-button (click)="toggleSidenav()" src="./../../../assets/icons8-menu-64.png" alt="Boton menu">


            <img title="Inicio" (click)="Home()" src="./../../../assets/LOGO_ORI2Color.png" width="150" alt="Logo de ORI">
        </div>

    
        <div class="derecha">

            <img  class="icono" (click)="ModalUsuario()" src="./../../../assets/PERFIL.png"   style="margin: 10px; padding: 3px;" alt="Imagen del menú">

            <img  class="icono" (click)="arregloDeAlertas()" src="./../../../assets/{{img}}" [matMenuTriggerFor]="menu"  style="margin: 10px;" alt="Imagen del menú">
            
            <mat-menu #menu="matMenu">
                <button (click)="seleccionarAlerta(i)" mat-menu-item *ngFor="let elemento of alertas; let i = index"  >
                  Nombre:{{elemento.Nombre}} <br> Fecha de vencimiento: {{elemento.Fecha}} <br> <div class =  'alertaColor'> Tipo de alerta: {{elemento.Tipo}} </div> <div class="linea"></div>
                </button>

              </mat-menu>

            <img class="icono" (click)="logout()"  style="margin: 10px;" title="Cerrar Sesión" src="../../../assets/Logout.png" alt="Logout">
        </div>
    </div>
    

    
    <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">

        <nav class="opciones">
            <h3 class="opcion" *ngIf="loginService.getUserRole() === 'si' && loginService.getUserName() === 'rodrigo@admin.com'"  (click)="ModalAddUsuario()" value="usuario">Agregar usuario</h3>
            <h3 class="opcion" (click)="CrearReportes()" value="convenio">Crear reportes</h3>
            <h3 class="opcion" (click)="ModalADD()" value="convenio">Añadir convenio</h3>
            <h3 class="opcion" (click)="ModalAddUnidadGestora()" value="convenio">Añadir unidad gestora</h3>
            <h3 class="opcion" (click)="ModalAddCoordinador()" value="coordinador">Añadir coordinador de institución</h3>
            <h3 class="opcion" (click)="ModalAddInstituciones()" value="institucion">Añadir institución</h3>
            <h3 class="opcion" *ngIf="loginService.getUserRole() === 'si' && loginService.getUserName() === 'rodrigo@admin.com'" (click)="ModalListadDeUsuarios()" value="institucion">Listado de usuarios</h3>


        </nav>

        
    </mat-sidenav>

    <mat-sidenav-content id="mySidenav">
    <div>
        <nav id="convenios">

            <app-all-convenios></app-all-convenios>

        </nav>

    </div>
    <br>
  </mat-sidenav-content>
</mat-sidenav-container>
</body>
</html>
