<div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span (click)="closeDialog()" class="close">&times;</span>
        <h2>Añadir coordinador de institución</h2>
      </div>
      <div class="modal-body">
        <ng-container>
            <br>
            <form [formGroup]="formulario"  #formContact="ngForm">

                
                <div class="orden">


                  
                  <mat-form-field class="full-width">
                    <mat-label>Tipo de coordinador</mat-label>
                    <mat-select  formControlName = tipo required>
                      <mat-option value="Interno">Interno</mat-option>
                      <mat-option value="Externo">Externo</mat-option>
                    </mat-select>
                  </mat-form-field>
   
                  <mat-form-field class="full-width">
                    <mat-label>Institucion</mat-label>
                    <mat-select formControlName="nombre_institucion"  [disabled]="formulario.value.tipo === 'Interno'" [required]="formulario.value.tipo != 'Interno'">
                      <mat-option *ngFor="let nombInstitucion of optionsInstituciones" [value]="nombInstitucion">{{ nombInstitucion }}</mat-option>
                    </mat-select>
                  </mat-form-field>


                </div> 
            
                  
                <div class="orden">

                    <mat-form-field class="full-width">
                      <mat-label>Nombre de coordinador</mat-label>
                      <input  formControlName = 'nombre' matInput  placeholder="Ej: Diego Gonzalez" value="" required>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                      <mat-label>Correo de coordinador</mat-label>
                      <input  type="email" formControlName = 'correo' matInput  placeholder="Ej: Email@gmail.com" value="" required>
                    </mat-form-field>

                  </div>
              

                  <div class="orden">
                    <button mat-raised-button color="primary" (click)="addCoordinador()" type="submit">Agregar</button>

                  </div>
            
            </form>            
            <br>
        </ng-container>
      </div>
    </div>
  </div>
  

