<div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span (click)="closeDialog()" class="close">&times;</span>
        <h2>Añadir institucion</h2>
      </div>
      <div class="modal-body">
        <ng-container>
            <br>
            <form class="ingreso" (ngSubmit)="addConvenio(formContact)" #formContact="ngForm">

                
                <div class="orden">
                  <!-- necesito el nombre de la institucion y pasar el id -->
                  <select name="nombreInst" class="seleccion" [(ngModel)]="formulario.id_institucion" required [selectedIndex]="selectedIndex">
                    <option *ngIf="true" disabled selected value="">Seleccione una institucion</option>
                    <option *ngFor="let convenio of optionsInstituciones; let i = index" [value]="convenio">{{convenio}}</option>
                  </select>


                  <select name="Tipo_Coordinador" class="seleccion" [(ngModel)]="formulario.tipo" required>
                    <option *ngIf="true" disabled selected value="">Tipo de coordinador</option>
                    <option *ngFor="let tipo of tipoCord" [value]="tipo">{{ tipo }}</option>
                  </select>
                </div>
            
                  
                <div class="orden">
                    <input  name = 'nombre' type="text" class="input" [(ngModel)]="formulario.nombre" placeholder="Nombre" required>
  
                    <input name = 'correo'  type="text" class="input" [(ngModel)]="formulario.correo" placeholder="Correo" required>
                  </div>
              

                  <div class="orden">
                    <button type="submit">Enviar</button>
                  </div>
            
            </form>            
            <br>
        </ng-container>
      </div>
    </div>
  </div>
  

