<div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span (click)="closeDialog()" class="close">&times;</span>
        <h2>Añadir institución</h2>
      </div>
      <div class="modal-body">
        <ng-container>
            <br>
            <form [formGroup]="formulario" class="ingreso" #formContact="ngForm">

                
                <div class="orden">
                    <mat-form-field style="width: 100%;" class="full-width">
                      <mat-label>Tipo de institución</mat-label>
                      <input formControlName = 'nombre_inst' matInput placeholder="Ej: Univesidad Catolica del Maule" value=""required ><!-- [(ngModel)]="formulario.nombre_inst"  -->
                    </mat-form-field>
                </div>
            
                <div class="orden">

                    <mat-form-field class="full-width">
                      <mat-label>Pais</mat-label>
                      <input formControlName = 'pais' matInput placeholder="Ej: Chile" value="" required> <!--  [(ngModel)]="formulario.pais" -->
                    </mat-form-field>

                    <mat-form-field class="full-width">
                      <mat-label>Tipo de institución</mat-label>
                      <input  formControlName = 'tipo_institucion' matInput  placeholder="Ej: Univesidad Catolica del Maule" value="" required><!-- [(ngModel)]="formulario.tipo_institucion" -->
                    </mat-form-field>


                  </div>
            

                <div class="orden">

                  <button mat-raised-button color="primary" (click)="addConvenio()" type="submit">Agregar institucion</button>

                </div>
            
            </form>            
            <br>
        </ng-container>
      </div>
    </div>
  </div>
  

