<!DOCTYPE html>
<html lang="en" >
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<head>
  <meta charset="UTF-8">
  <title>Oficina de Relaciones Internacionales</title>
</head>
<body>
    <div>

    </div>
    <form class="ingreso" (ngSubmit)="login(formContact)" #formContact="ngForm">

      <br><br><br><br><br><br><br><br><br><br>
        <nav id="cuadroLogin">

            <nav id="Imagen">
              <img src="../../../assets/LOGO_ORI.png" alt="Logo Ori">
           </nav>
            <nav id="inputs">
              <br><br><br>
              <input id="username" class="fname"  name = 'email' type="text"  [(ngModel)]="formulario.email" placeholder="Email" required>              
              <br><br><br>
              <input name = 'contrasena' id="username2" class="fname" type="password"  [(ngModel)]="formulario.contrasena" placeholder="Constraseña" required><br><br>
              <button type="submit" style="font-family: 'Poppins', sans-serif;">Iniciar Sesión</button>
              <nav style="margin-top: 2px;"></nav>
              <button (click)="loginVisita()" style="font-family: 'Poppins', sans-serif;">Visitante</button>

              

              <br><br>
            </nav>
        </nav>
     </form>
</body>
</html>

<!-- <input  name = 'user' type="text" class="input" [(ngModel)]="formulario.usuario" placeholder="Pais" required>

<input name = 'constrasenia'  type="text" class="input" [(ngModel)]="formulario.constrasenia" placeholder="Tipo de institucion" required>
 -->
