<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="contenedor">

        <h1 class="titulo">DIRECCIÓN DE RELACIONES NACIONALES E INTERNACIONALES</h1>


        
            <!--  <input type="text" [(ngModel)]="busqueda" (input)="enviarMensaje2()" name="search" placeholder="Buscar por universidad, tipo de convenio, etc">  -->
    </div>
    
</body>
</html>

