.titulo{
    color: #455a64;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
}

.contenedor{
    flex-direction: row;
}

body{
    padding: 1%;
    display: flex;
    background-color: white;
}

.imagen{
    border-radius: 100%;
}