<div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span (click)="closeDialog()" class="close">&times;</span>
        <h2>Agregar Convenio</h2>
      </div>
      <div class="modal-body">
        <ng-container>
          <br>
          <form class="ingreso" [formGroup]="formularioModificar"  #formContact="ngForm">


            <div class="orden">
              <mat-form-field class="full-width">
                <mat-label>Nombre de convenio</mat-label>
                <input  formControlName = 'nombre_conv' matInput  placeholder="Anterior: {{formulario.nombre_conv}}" value="" >
              </mat-form-field>

              
              <mat-form-field class="full-width">
                <mat-label>Tipo de convenio</mat-label>
                <input  formControlName = 'tipo_conv' matInput  placeholder="Anterior: {{formulario.tipo_conv}}" value="" >
              </mat-form-field>


            </div>

   
            <div class="orden">


              <mat-form-field class="full-width">
                <mat-label>Movilidad</mat-label>
                <mat-select  formControlName = movilidad placeholder="Anterior: {{formulario.movilidad}}" >
                  <mat-option value="SI">Si</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
              </mat-form-field>        

              <mat-form-field class="full-width">
                <mat-label>Vigencia</mat-label>
                <input  formControlName = 'vigencia' matInput  placeholder="Anterior: {{formulario.vigencia}}" value="" >
              </mat-form-field>
            </div>

            <div class="orden">

              <mat-form-field class="full-width">
                <mat-label>Año de firma</mat-label>
                <input  formControlName = 'ano_firma' matInput type="number" placeholder="Anterior: {{formulario.ano_firma}}" value="" >
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Tipo de firma</mat-label>
                <mat-select  formControlName = tipo_firma placeholder="Anterior: {{formulario.tipo_firma}}" >
                  <mat-option value="Fisica">Fisica</mat-option>
                  <mat-option value="Digital">Digital</mat-option>
                </mat-select>
              </mat-form-field>   



            </div>

            <div class="orden">
              <mat-form-field class="full-width">
                <mat-label>Cupos</mat-label>
                <input  formControlName = 'cupos' matInput type="number" placeholder="Anterior: {{formulario.cupos}}" value="" >
              </mat-form-field>

              <mat-form-field  class="full-width">
                <mat-label>Documento</mat-label>
                <input  formControlName = 'documentos' matInput  placeholder="Anterior: {{formulario.documentos}}" type="url" value="" >
              </mat-form-field>

            </div>

            <div class="orden">

              <mat-form-field class="full-width" style="width: 100%;">
                <mat-label>Condicion de renovacion</mat-label>
                <mat-select  formControlName = condicion_renovacion  placeholder="Anterior: {{formulario.condicion_renovacion}}">
                  <mat-option value="Automatico">Automatico</mat-option>
                  <mat-option value="Indefinido">Indefinido</mat-option>
                  <mat-option value="Solicitar seis meses antes">Solicitar seis meses antes</mat-option>                 
                  <mat-option value="Solicitar un mes antes">Solicitar un mes antes</mat-option>
                </mat-select>
              </mat-form-field>   


            </div>

            <div class="orden">

              <mat-form-field class="full-width">
                <mat-label>Fecha de inicio</mat-label>
                <input matInput [matDatepicker]="inicioDatepicker" formControlName="fecha_InicioSinFormato"  placeholder="Anterior: {{formulario.fecha_inicio}}">
                <mat-datepicker-toggle matIconSuffix [for]="inicioDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #inicioDatepicker disabled="false"></mat-datepicker>
              </mat-form-field>
              
              <mat-form-field class="full-width">
                <mat-label>Fecha de termino</mat-label>
                <input matInput [matDatepicker]="inicioDatepicker2" formControlName="fecha_FinalSinFormato" placeholder="Anterior: {{formulario.fecha_termino}}" >
                <mat-datepicker-toggle matIconSuffix [for]="inicioDatepicker2"></mat-datepicker-toggle>
                <mat-datepicker #inicioDatepicker2 disabled="false"></mat-datepicker>
              </mat-form-field>
              

            </div>

              <div class="orden">
                <button mat-raised-button color="primary" (click)="updateConvenio()" type="submit">Modificar</button>

              </div>
          </form>
          <br>
        </ng-container>
      </div>
    </div>
  </div>
  