<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span (click)="closeDialog()" class="close">&times;</span>
      <h2  *ngIf="mostrarEnPantalla">{{ mostrarEnPantalla.nombre_Convenio }}</h2>
    </div>
    <div class="modal-body">
      <ng-container *ngIf="mostrarEnPantalla">

          <div class="cuadrado">
            <h1>Detalles del convenio</h1>
            <br>
            <table class="fullElements">
              <thead>
                <tr class="listTittle">
                  <th>Nombre del Convenio</th>
                  <th>Tipo de Convenio</th>
                  <th>Movilidad</th>
                  <th>Vigencia</th>
                  <th>Año de firma</th>
                  <th>Tipo de firma</th>
                </tr>
              </thead>
              <tbody >
                <tr  class="listElements">
                  <td>{{ mostrarEnPantalla.nombre_Convenio }}</td>
                  <td>{{ mostrarEnPantalla.tipo_Convenio }}</td>
                  <td>{{ mostrarEnPantalla.movilidad }}</td>
                  <td>{{ mostrarEnPantalla.vigencia }}</td>
                  <td>{{ mostrarEnPantalla.anio_Firma }}</td>
                  <td>{{ mostrarEnPantalla.tipo_Firma }}</td>
                </tr>
              </tbody>
            </table>
            <br>
            <table class="fullElements">
              <thead>
                <tr class="listTittle">
                  <th>Cupos</th>
                  <th>Documentos</th>
                  <th>Condicion de renovacion</th>
                  <th>Estatus</th>
                  <th>Fecha de inicio</th>
                  <th>Fecha de termino</th>
                </tr>
              </thead>
              <tbody >
                <tr  class="listElements">
                  <td>{{ mostrarEnPantalla.cupos }}</td>
                  <td>{{ mostrarEnPantalla.documentos }}</td>
                  <td>{{  mostrarEnPantalla.condicion_Renovacion }}</td>
                  <td>{{ mostrarEnPantalla.estatus }}</td>
                  <td>{{mostrarEnPantalla.fecha_Inicio }}</td>
                  <td>{{ mostrarEnPantalla.fecha_Termino }}</td>
                </tr>
              </tbody>
            </table><br>            
            <div class="orden">
              <button mat-raised-button color="accent" *ngIf="loginService.getUserRole() === 'si'" (click)="ModConvenio()">Modificar</button>
            </div>
        </div>



        <!-- Cuadrado 3 -->
        <div class="cuadrado">
          <h1>Detalle de la institucion</h1>
          <br>
            <table class="fullElements">
              <thead>
                <tr class="listTittle">
                  <th>Nombre institucion</th>
                  <th>Tipo de institucion</th>
                  <th>Pais</th>
                  <th>Alcance</th>
                  <th>Unidad gestora</th>
  
                </tr>
              </thead>
              <tbody >
                <tr  class="listElements">
                  <td>{{ mostrarEnPantalla.nombre_Institucion }}</td>
                  <td>{{ mostrarEnPantalla.tipo_Institucion }}</td>
                  <td>{{ mostrarEnPantalla.pais }}</td>
                  <td>{{ mostrarEnPantalla.alcance }}</td>
                  <td>{{ mostrarEnPantalla.nombre_Unidad_Gestora }}</td>
                </tr>
              </tbody>
            </table>
            <br>
            <h1>Detalle de coordinador interno</h1>
            <table class="fullElements">

              <thead>
                <tr class="listTittle">
                  <th>Nombre coordinador interno</th>
                  <th>Correo coordinador</th>


                </tr>
              </thead>
              <tbody >
                <tr  class="listElements">
                  <td>{{ mostrarEnPantalla.nombre_Coordinador_Interno }}</td>
                  <td>{{ mostrarEnPantalla.correo_Coordinador_Interno }}</td>

                </tr>
              </tbody>
            </table>
            <br>
            <h1>Detalle de coordinador Externo</h1>
            <table class="fullElements">

              <thead>
                <tr class="listTittle">
                  <th>Nombre coordinador externo</th>
                  <th>Correo coordinador externo</th>

                </tr>
              </thead>
              <tbody >
                <tr  class="listElements">
                  <td>{{ mostrarEnPantalla.nombre_Coordinador_Externo }}</td>
                  <td>{{ mostrarEnPantalla.correo_Coordinador_Externo }}</td>

                </tr>
              </tbody>
            </table>
          <!--   <button  class="button" id="modificar" *ngIf="loginService.getUserRole() === 'si'" (click)="ModInstitucion()">Modificar</button> -->
          

        </div>
        <div class="orden">
          <button mat-raised-button color="warn" *ngIf="loginService.getUserRole() === 'si'" (click)="delete()">Borrar</button>
        </div>


        <br><br>
      </ng-container>
    </div>
  </div>
</div>


<!--

              "ID": convenio[0],
            "NOMBRE_CONV": convenio[1],
            "TIPO_CONV": convenio[2],
            "VIGENCIA": convenio[3],
            "ANO_FIRMA": convenio[4],
            "TIPO_FIRMA": convenio[5],
            "CUPOS": convenio[6],
            "DOCUMENTOS": convenio[7]
-->