<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span (click)="closeDialog()" class="close">&times;</span>
      <h2  *ngIf="mostrarEnPantalla">{{ mostrarEnPantalla.Nombre_Convenio }}</h2>
    </div>
    <div class="modal-body">
      <ng-container *ngIf="mostrarEnPantalla">

          <div class="cuadrado">
            <h1>Detalles del convenio</h1>
            <br>
            <table class="fullElements">
              <thead>
                <tr class="listTittle">
                  <th>Nombre del Convenio</th>
                  <th>Tipo de Convenio</th>
                  <th>Movilidad</th>
                  <th>Vigencia</th>
                  <th>Año de firma</th>
                  <th>Tipo de firma</th>
                </tr>
              </thead>
              <tbody >
                <tr  class="listElements">
                  <td>{{ mostrarEnPantalla.Nombre_Convenio }}</td>
                  <td>{{ mostrarEnPantalla.Tipo_Convenio }}</td>
                  <td>{{ mostrarEnPantalla.Movilidad }}</td>
                  <td>{{ mostrarEnPantalla.Vigencia }}</td>
                  <td>{{ mostrarEnPantalla.Anio_Firma }}</td>
                  <td>{{ mostrarEnPantalla.Tipo_Firma }}</td>
                </tr>
              </tbody>
            </table>
            <br>
            <table class="fullElements">
              <thead>
                <tr class="listTittle">
                  <th>Cupos</th>
                  <th>Documentos</th>
                  <th>Condicion de renovacion</th>
                  <th>Estatus</th>
                  <th>Fecha de inicio</th>
                  <th>Fecha de termino</th>
                </tr>
              </thead>
              <tbody >
                <tr  class="listElements">
                  <td>{{ mostrarEnPantalla.Cupos }}</td>
                  <td>{{ mostrarEnPantalla.Documentos }}</td>
                  <td>{{  mostrarEnPantalla.Condicion_Renovacion }}</td>
                  <td>{{ mostrarEnPantalla.Estatus }}</td>
                  <td>{{mostrarEnPantalla.Fecha_Inicio }}</td>
                  <td>{{ mostrarEnPantalla.Fecha_Termino }}</td>
                </tr>
              </tbody>
            </table><br>            
            <button  class="button" id="modificar" *ngIf="loginService.getUserRole() === 'si'" (click)="ModConvenio()">Modificar</button> <!-- *ngIf="loginService.getUserRole() === 'si'" -->

        </div>



        
        <!-- Cuadrado 2 -->
        <div class="cuadrado"> <!-- se borro <h3>Tipo institucion: {{mostrarEnPantalla.Tipo_Institucion}}</h3> -->
          <h1>Coordinador del convenio</h1>
<br>

          <table class="fullElements">
            <thead>
              <tr class="listTittle">
                <th>Nombre coordinador</th>
                <th>Correo coordinador</th>
                <th>Tipo coordinador</th>

              </tr>
            </thead>
            <tbody >
              <tr  class="listElements">
                <td>{{ mostrarEnPantalla.Nombre_Coordinador }}</td>
                <td>{{ mostrarEnPantalla.Correo_Coordinador }}</td>
                <td>{{ mostrarEnPantalla.Tipo_Coordinador }}</td>

              </tr>
            </tbody>
          </table>
            <br>
            <button  class="button" id="modificar" *ngIf="loginService.getUserRole() === 'si'" (click)="ModCoordinador()">Modificar</button> <!-- *ngIf="loginService.getUserRole() === 'si'" -->

        </div>
        
        <!-- Cuadrado 3 -->
        <div class="cuadrado">
          <h1>Institucion del convenio</h1>
          <br>
            <table class="fullElements">
              <thead>
                <tr class="listTittle">
                  <th>Nombre institucion</th>
                  <th>Tipo de institucion</th>
                  <th>Pais</th>
                  <th>Alcance</th>
  
                </tr>
              </thead>
              <tbody >
                <tr  class="listElements">
                  <td>{{ mostrarEnPantalla.Nombre_Institucion }}</td>
                  <td>{{ mostrarEnPantalla.Tipo_Institucion }}</td>
                  <td>{{ mostrarEnPantalla.Pais }}</td>
                  <td>{{ mostrarEnPantalla.Alcance }}</td>
  
                </tr>
              </tbody>
            </table>
<br>
            <button  class="button" id="modificar" *ngIf="loginService.getUserRole() === 'si'" (click)="ModInstitucion()">Modificar</button> <!-- *ngIf="loginService.getUserRole() === 'si'" -->

        </div>

        <!-- Cuadrado 3 -->
        <div class="cuadrado">


            <h1>Unidad gestora</h1>
            <table class="fullElements">
              <thead>
                <tr class="listTittle">
                  <th>Unidad gestora</th>
  
                </tr>
              </thead>
              <tbody >
                <tr  class="listElements">
                  <td>{{ mostrarEnPantalla.Nombre_Unidad_Gestora }}</td>

                </tr>
              </tbody>
            </table>
            <br>
            <button  class="button" id="modificar" *ngIf="loginService.getUserRole() === 'si'" (click)="ModInstitucion()">Modificar</button> <!-- *ngIf="loginService.getUserRole() === 'si'" -->

        </div>
      
        <button  class="button" *ngIf="loginService.getUserRole() === 'si'" (click)="delete()">Borrar</button> <!-- *ngIf="loginService.getUserRole() === 'si'" -->
        <br><br>
      </ng-container>
    </div>
  </div>
</div>


<!--

              "ID": convenio[0],
            "NOMBRE_CONV": convenio[1],
            "TIPO_CONV": convenio[2],
            "VIGENCIA": convenio[3],
            "ANO_FIRMA": convenio[4],
            "TIPO_FIRMA": convenio[5],
            "CUPOS": convenio[6],
            "DOCUMENTOS": convenio[7]
-->